In [2]:
import sqlite3
import pandas as pd


conn = sqlite3.connect("Wine.db")

rater_query = "SELECT DISTINCT name FROM Rater;"

rater_names = pd.read_sql_query(rater_query, conn)["name"]


for rater_name in rater_names:

    query = f"""
    SELECT
        rt.name AS rater_name,
        MIN(wn.points) AS min_points,
        MAX(wn.points) AS max_points,
        AVG(wn.points) AS avg_points,
        (MAX(wn.points) + MIN(wn.points)) / 2 AS median_points,
        MIN(wn.price) AS min_price,
        MAX(wn.price) AS max_price,
        AVG(wn.price) AS avg_price,
        (MAX(wn.price) + MIN(wn.price)) / 2 AS median_price
    FROM Rater rt
    JOIN Wine wn ON rt.id = wn.rid
    WHERE rt.name = '{rater_name}'
    GROUP BY rt.name;
    """

    
    result_df = pd.read_sql_query(query, conn)

    result_df.to_excel(f'{rater_name}.xlsx', index=False)


conn.close()

DatabaseError: Execution failed on sql 'SELECT DISTINCT name FROM Rater;': no such table: Rater